// ================ product_area_v3 ================= //
.product_area_v3 {
  padding: 7rem 0 9rem 0;
  .choose_product {
    height: 4.4rem;
    border-radius: 1rem;
    overflow: hidden;
    width: fit-content;
    gap: 0.2rem;
    cursor: pointer;
    transition: 0.1s ease;
    &.active,
    &:hover {
      opacity: 0.75;
    }
    .choose_left {
      width: 5.2rem;
      background: $orange;
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .choose_right {
      background: $white;
      padding: 0 1.5rem;
    }
  }
  .product_img {
    padding-right: 8rem;
    img {
      width: 42rem;
    }
  }
  .row {
    margin-left: -5rem;
    margin-right: -5rem;
    & > * {
      padding: 0 5rem;
    }
  }
  .product_flower_img {
    width: 39rem;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @media #{$md} {
    padding: 4rem 0 6.4rem 0;
    .product_img {
      padding-right: 0;
      img {
        width: 25rem;
      }
    }
    .row {
      margin-left: -3rem;
      margin-right: -3rem;
      & > * {
        padding: 0 3rem;
      }
    }
    .product_flower_img {
      width: 31rem;
    }
    .choose_products_list {
      padding: 1.5rem 0;
    }
    p {
      &.pt_30 {
        padding-top: 1.5rem;
      }
      &.pb_30 {
        padding-bottom: 1.5rem;
      }
    }
  }

  @media #{$xs} {
    .product_img {
      padding-right: 4.5rem;
      img {
        width: 26rem;
      }
    }
    .row {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }
    .product_flower_img {
      display: none;
    }
  }
}

// ================== Product page ================== //
.product_items_scroller {
  overflow-x: auto;
  overflow-y: visible;
  padding: 2rem 0;
  &::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

// ================== product_flower_area  =================== //
.product_flower_area {
  img {
    width: 10rem;
  }
  .animate_wrap {
    white-space: nowrap;
  }
  @media #{$md} {
    padding: 3rem 0;
    img {
      width: 5rem;
    }
    .animate_wrap {
      padding: 0 3rem;
    }
  }
  @media #{$xs} {
    img {
      width: 3rem;
    }
    .animate_wrap {
      padding: 0 1rem;
      font-size: 2.4rem;
    }
  }
}
